[package]
name = "fabricatio"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.27.1", features = ["extension-module"] }

reqwest = { version = "0.12.24", features = ["blocking", "json"] }
tar = "0.4.44"
flate2 = "1.1.5"
serde_json = "1.0.145"
clap = { version = "4.5.51", features = ["derive"] }
fabricatio-constants = { path = "crates/fabricatio-constants" }
colored = "3.0.0"
chrono = "0.4.42"
indicatif = ">=0.17.11"
glob = "0.3.3"




[workspace]
members = [
    "crates/*",
    "crates/fabricatio-config/crates/macro_utils",
    "packages/fabricatio-typst",
    "packages/fabricatio-typst/src/typst_conversion",
    "packages/fabricatio-rag",
    "packages/fabricatio-core",
    "packages/fabricatio-memory",
    "packages/fabricatio-anki",
    "packages/fabricatio-anki/src/deck_loader",
    "packages/fabricatio-tool",
    "packages/fabricatio-tool/crates/mcp-manager",
    "packages/fabricatio-tool/crates/signify",
    "packages/fabricatio-locale",
    "packages/fabricatio-thinking",
    "packages/fabricatio-agent",
    "packages/fabricatio-diff",
    "packages/fabricatio-novel",
    "packages/fabricatio-checkpoint",
]

[workspace.package]
authors = ["Whth <zettainspector@foxmail.com>"]
license-file = "LICENSE"

