[project]
name = "fabricatio-memory"
version = "0.2.6"
description = "An Extension of fabricatio aiming to extend the context llm could handle."
readme = "README.md"
authors = [
    { name = "Whth", email = "zettainspector@foxmail.com" }
]
license = { file = "LICENSE" }
requires-python = ">=3.12,<=3.14"
dependencies = [

    "fabricatio-core"
]
[dependency-groups]
dev = [
    "pytest",
]


[project.optional-dependencies]
selective = [
    "fabricatio-judge"
]


[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
python-source = "python"
module-name = "fabricatio_memory.rust"


[project.urls]
Homepage = "https://github.com/Whth/fabricatio"
Repository = "https://github.com/Whth/fabricatio"
Issues = "https://github.com/Whth/fabricatio/issues"
