[package]
name = "fabricatio-rag"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.27.2", features = ["extension-module"] }
serde = { version = "1.0.228", features = ["derive"] }
validator = { version = "0.20.0", features = ["derive"] }

pyo3-async-runtimes = { version = "0.27.0", features = ["tokio-runtime"] }
tonic-prost = "0.14.2"
tonic = "0.14.2"
prost = "0.14.1"
fabricatio-logger = { path = "../../crates/fabricatio-logger" }

[build-dependencies]
tonic-prost-build = "0.14.2"



